/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // @import "bootstrap-sprockets";
 // @import "bootstrap";
 // @import 'bootstrap-datetimepicker';
 @import "font-awesome";

.post-div{
  background : #f0f0f0;
  padding:20px;
}
.creator {
  padding: 10px;
    font-size: 17px;
    border-radius: 5px;
}
.title{
  font-size: 20px;
  padding:10px;
}
.content{
  padding: 20px;

}
.page , .next , .last, .first ,.prev{
    border: 1px solid #0056b3;
    border-radius: 5px;
    margin: 2px;
    padding: 7px;
    background: whitesmoke;
}
.page:hover , .next:hover , .last:hover, .first:hover ,.prev:hover{
    background-color: #0a010161;
}
.current{
  background-color: #0a010161;
}
.message {
  // background-color: red;
  // border-bottom-right-radius: 5px 5px;
  // border-top-right-radius: 5px 5px;
  // padding: 2px 5px;
  color: red;
}
#error_explanation{
  display: none;
}

.liked{
  color: red;
}
.fa-heart{
  font-size: 25px;
}
.like_count{
  font-size: 25px;
}
.comment-box{
  padding: 5px;
  max-height: 200px;
  overflow-y: auto;
}
.row-footer{
  background: #fff;
  padding:5px;
  border-radius: 5px;
}
.sendbox{
  padding:5px;
}
.comment{
  padding: 10px;
  background: #f0f0f0;
  margin-bottom: 5px;
  border-radius: 5px;
  width: 65vw !important;
}
.reply{
  cursor: pointer;
  transition-delay: 0.5s !important;
  transition-timing-function: linear;
}
.reply:hover{
  background: #000 !important;
}
.loader{
  width : 100vw;
  height: 100vh;
  position:fixed;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
}
.loader-img{
  margin: 150px 526px;
  width: 300px;
}
.fa-user{
  font-size: 30px;
}
