<ul style=" list-style-type: none;">
   <li class="sidebar_nav" >
     <a class="nav-link sidenav"  href="<%= root_path %>" >
       <i class="fa fa-dashboard" > Dashboard</i>
     </a>
   </li>
   <li  class="sidebar_nav" >
     <a class="nav-link sidenav" href="<%= all_post_path %>" >
       <i class="fa fa-sticky-note-o" > Posts</i>
     </a>
   </li>
</ul>
