// Place all the styles related to the Docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.doc {
  padding: 20px;
  background: #f0f0f0;
  margin: 10px;
}
